
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Playwrite+GB+J+Guides:ital@0;1&family=Playwrite+NZ+Basic+Guides&display=swap');


*{
      font-family: "Bungee", sans-serif;

}
h1{
  font-family: "Momo Signature", cursive;

}
