@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main-container {
  width: 100vw;
  height: 100vh;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}
.left-side {
  flex-basis: 40%;
  height: 100%;
  /* border: 1px solid; */
  padding: 50px;
}
.left-side h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}
.left-side p {
  color: gray;
}
.left-side form {
  width: 80%;
  margin-top: 20px;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
form .input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
form .input-group label {
  font-weight: 500;
}
form .input-group input {
  padding: 8px;
  border: 1px solid rgb(194, 193, 193);
  outline: none;
  border-radius: 2px;
}
#remember-group {
  flex-direction: row;
  font-size: 15px;
  justify-content: space-between;
}
a {
  color: purple;
  font-weight: 500;
}
#remember-group > span {
  display: flex;
  gap: 5px;
  font-weight: 500;
}
#remember-group > span > input {
  width: 15px;
  accent-color: purple;
}
button {
  padding: 9px 0px;
  border: 0px;
  background-color: #62449d;
  color: white;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
#login {
  background-color: white;
  color: black;
}
#account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
#account>span {
    color: gray;
}
img {
  width: 25px;
}
.right-side {
  flex-basis: 40%;
  height: 100%;
  background-image: url(./image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
